* {
  margin: 0;
}

body {
  display: flex;
}
.page {
  width: 50vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#edit {
  width: 50vw;
  /* height: 100%; */
}

#attrib {
  position: relative;
  /* bottom: 25px; */
  left: 15px;
  font-size: 15px;
}

#gen {
  position: fixed;
  bottom: 0;
  right: inherit;
  width: 42vw;
}

.zine-text-container {
  width: 42vw;
  display: flex;
  justify-content: flex-end;
}

.zine-text {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.zine-text a {
  margin-top: 5px;
}

.buttons {
  margin-top: -5px;
}

button {
  border: none;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
