* {
  margin: 0;
}

body {
  display: flex;
}

.page {
  width: 50vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.right {
  text-align: center;
}

#edit {
  width: 50vw;
  /* height: 100%; */
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#attrib {
  position: relative;
  /* bottom: 25px; */
  left: 15px;
  font-size: 15px;

  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gen {
  position: fixed;
  bottom: 0;
  right: inherit;
  width: 42vw;

  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.zine-text-container {
  width: 42vw;
  display: flex;
  justify-content: flex-end;
}

.zine-text {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.zine-text a {
  margin-top: 5px;
}
